.address {
    width: 186px;
    height: 60px;
    background: rgba(81, 118, 224, 0.1);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #5176e0;
    margin-left: 15px;

    img {
        width: 20px;
        height: 28px;
        margin-right: 10px;
    }
}